#contactus {
  margin-top: 15px;
}

#contactus #contactus-form fieldset {
  border: none;
}

#cu-submit {
    position: relative;
    padding: 5px 35px;
    margin: 10px 10px 10px 100px;
    float: left;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #628D2C;
    border-bottom: 5px solid #30693A;
    text-shadow: 0px -2px #30693A;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

#cu-submit:hover, 
#cu-submit:focus {
    text-decoration: none;
    color: #fff;
}

#cu-message {
  margin-left: 15px;
  width: 385px;
  border-radius: 10px;
  height: 200px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 1px #cbc9c9;
}

#contactus .title-message {
  color: #497B33;
  margin: 10px 10px 10px 15px;
  font-size: 16px;
  line-height: 40px;
} 

#contactus .g-recaptcha {
  display: table;
  margin: 0 auto;
  margin-top: 15px;
}

#cu-submit:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.ui-widget-overlay {
    opacity: 0.7;
}

#contactus .alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#contactus .alert {
  color: #8a6d3b;
}

#contactus .alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

#dialog_link {
    background-color: #628D2C;
    padding: 10px 15px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    box-shadow: inset 0px 1px 0px #1A3C1C, 0px 6px 0px #3d6f0d;
    border-radius: 5px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dialog_link:active {
    top: 7px;
    box-shadow: inset 0px 1px 0px #8BB96C, inset 0px -1px 0px #3d6f0d;
    color: #FFFFFF;
    background: rgb(77, 126, 50);
} 

#dialog_link::before {
  background-color:#072239;
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  padding-left:2px;
  padding-right:2px;
  padding-bottom:4px;
  left:-2px;
  top:5px;
  z-index:-1;
  border-radius: 6px;
  box-shadow: 0px 1px 0px #fff;
}

#dialog_link:active::before {
  top:-2px;
}

#contactus :focus {
    outline: none;
}

#contactus .icon {
  display: inline-block;
  width: 30px;
  background-color: #497B33;
  padding: 15px 0px 13px 20px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
}

#contactus input[type=text], #contactus input[type=email] {
  width: 330px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
}
